.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 10px;
}
.dialogsitems {
  padding: 10px;
}
.dialogsitems .active {
  color: gold;
}

.dialog {
  color: blueviolet;
  font-size: 20px;
}
.messages .messages {
  color: aqua;
}
